@media (max-width: 1280px){
    body {
        background-color: beige;
    }
}

@media (max-width: 780px) {
    body {
        background-color: #65dfeb;
    }
}

@media (max-width: 500px) {
    body {
        background-color: #a05ce9;
    }
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

h1 {
    border-bottom: 3px solid black;
    padding: 26px;
    
    font-family: 'Hi Melody', cursive; 
    font-size: 3em
}

footer div {
    justify-content: center;
}

button {
    font-family: 'Orbit', sans-serif; 
    width: 100px;
}

.lorem {
    color: saddlebrown;
    font-size: 1.2em;
}